{%extends 'all-images/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        {% if images %}
          <h2>Found {{ images|length  }} of searched term {{message}}</h2>
        {% else %}
           
          <h2> Found 0 images for the search term {{meassage}}</h2>
        {% endif %}
    </div>
  <div class="container">
    <!-- Looping through images -->
    <div class="row">
      <div class="masonry">
        {% for image in images %}
        <div class="item">
          <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> -->
          <!-- <h4 class="modal-title">{{ image.location }}</h4> -->
          <a data-fancybox="images" href="{{image.image_path.url}}" data-caption="{{ image.image_description }} &nbsp; <br>
                          {{ image.location }} &nbsp; <br>
                          {{image.image_path.url}}">
            <img src="{{image.image_path.url}}" id="pic" class="img-responsive" alt="Image">
          </a>
          <!-- <h4 class="modal-title">{{ image.image_description }}</h4> -->
  
  
          <!-- </div> -->
        </div>
        {% endfor %}
      </div>
    </div>
  
  </div>
{% endblock %}